<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}
        {% stylesheets '@bootstrap_css' '@AppBundle/Resources/public/css/*' %}
            <link rel="stylesheet" type="text/css" media="screen" href="{{ asset_url }}"/>
        {% endstylesheets %}
    {% endblock %}
</head>
<body>
{% include 'AppBundle::navbar.html.twig' %}
<div class="container">
    {% include 'AppBundle::flash.html.twig' %}
    {% block body %}{% endblock %}

</div>
<footer class="text-center">
    <hr />
    <p>Copyright: Anna Morek</p>
    <p>Contact information: <a href="mailto:anna.morek@gmail.com">
            anna.morek@gmail.com</a>.</p>
</footer>
{% block javascripts %}
    {% javascripts '@jquery' '@bootstrap_js' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}
</body>
</html>