{% extends 'AppBundle::base.html.twig' %}
{% block body %}
    <h2>Comment in post: {{ comment.post.topic }}, user: {{ comment.user.username }}</h2>
    <div class="comment-content">
        <h4>Content:</h4>
        <p>{{ comment.content }}</p>
    </div>
{% endblock %}