{% extends 'AppBundle::base.html.twig' %}

{% block body %}
    <h2>Posty z tagiem {{ tag.name }}</h2>
    <table class="table">
        <thead>
        <tr>
            <th>Temat</th>
            <th>Akcja</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for post in posts %}
            <tr>
                <td>{{  post.topic }}</td>
                <td><a class="" href="{{ path('posts-view', { 'id' : post.id }) }}">{{ 'show_post'|trans }}</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
